
<%- include('includes/head')%>
<%- include('includes/navbar')%>
<div class="container">
    <div class="row">
       <div class="col-lg-2"></div>

       <div class="col-lg-8 my-3">
           <h1 class="text-center">Contacto</h1>
           <p class="text-center lead">Crie ou edite seu contacto abaixo:</p>

           <%- include('includes/message')%>           

           <% if(!contacto._id) {%>
            <form action="/contacto/register" method="POST">
              <%} else{%>
                <form action="/contacto/edit/<%= contacto._id %>" method="POST">
                <%}%>
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
         <div class="mb-3">
           <label class="form-label">Nome</label>
           <input value="<%= contacto.nome %>" type="text" class="form-control" name="nome">
         </div>
         <div class="mb-3">
            <label class="form-label">Sobrenome</label>
            <input value="<%= contacto.sobrenome %>" type="text" class="form-control"  name="sobrenome" >
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input value="<%= contacto.email %>" type="email" class="form-control" name="email">
          </div>
          <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input value="<%= contacto.telefone %>" type="tel" class="form-control" name="telefone" >
          </div>
         <button type="submit" class="btn btn-primary">Salvar</button>
       </form>           

       <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer')%>
